:root {
  --font-primary: "Roboto", sans-serif;

  --font-size-body: 1.6rem;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #ff9f1c;
  --color-blue: #00abe7;
  --color-red: #fd5e53;
  --color-yellow: #fbec5d;
  --color-green: #74c171;
  --color-gray: #dcdcdc;

  font-size: 62.5%;
}

body {
  font: var(--font-size-body) / 1.2 var(--font-primary);
  color: var(--color-white);
  margin: 0;
}

.focus-bg {
  background-color: var(--color-blue);
}

.short-break-bg,
.long-break-bg {
  background-color: var(--color-green);
}
