:root {
  --font-primary: "Roboto", sans-serif;

  --font-size-body: 1.6rem;

  --color-white: #ffffff;
  --color-orange: #ff9f1c;
  --color-blue: #00abe7;

  font-size: 62.5%;
}

body {
  font: var(--font-size-body) / 1.2 var(--font-primary);
  color: var(--color-white);
  margin: 0;
}

.focus-bg {
  background-color: var(--color-blue);
}
