:root {
  --font-primary: "Roboto", sans-serif;

  --font-size-body: 1.6rem;

  --color-white: #ffffff;
  --color-orange: #ff9f1c;

  font-size: 62.5%;
}

body {
  font: var(--font-size-body)/1.2 var(--font-primary);
}
